@using EcomServer.Services

@inject CategoryService categoryService;

@code {
    private bool isMenuOpen = false;
    public List<Category> categories = new List<Category>();

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

    private async Task LoadCategories()
    {
        categories = await categoryService.GetCategories();
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
    }
}

<nav id="nav_menu" class="absolute top-0 right-0 left-0">
    <div class="container md:flex md:flex-row md:items-center md:justify-between mx-auto">
        <div id="nav_bar" class="flex items-center justify-between p-2">
            <h1 class="text-2xl font-bold">Ecom</h1>
            <button
                class="block md:hidden p-2 text-gray-400 rounded hover:text-white focus:outline-none focus:ring-2 focus:ring-white"
                @onclick="@ToggleMenu">
                @if (!isMenuOpen)
                {
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                        </path>
                    </svg>
                }
                else
                {
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                }
            </button>
        </div>

        <!-- Conditionally render "hidden" class on the #nav_items container -->
        <div id="nav_items" class="@($"md:flex {(isMenuOpen ? "" : "hidden")}")">
            <ul
                class="flex flex-col bg-white md:flex-row md:flex p-2 space-y-2 md:space-y-0 md:space-x-4 md:bg-transparent">
                <li><a href="/" class="block hover:text-gray-400">Home</a></li>
                <li><a href="/account" class="block hover:text-gray-400">Account</a></li>
                <li><a href="/products" class="block hover:text-gray-400">Products</a></li>
                <li><a href="/cart" class="block hover:text-gray-400">Cart</a></li>
            </ul>
            <ul
                class="flex flex-col bg-white md:flex-row md:visible p-2 space-y-2 md:space-y-0 md:space-x-4 md:bg-transparent">
                @foreach (var category in categories)
                {
                    <li>
                        <a href="@category.Url" class="block hover:text-gray-400">
                            @category.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
