@page "/"
@using EcomComponents.Components

<PageTitle>Index</PageTitle>

<section>
    <Hero>
        <h1 class="text-4xl mt-8">Welcome to <b>BlazorEcom</b></h1>
    </Hero>
</section>
<section>
    <div class="container mx-auto">
        <div class="p-2">
            <h2 class="text-2xl">Featured Products</h2>
            <FeaturedProductListHomepage />
        </div>
    </div>
</section>