@using EcomComponents.Components

@page "/404"



<NavMenu/>
<main class="pt-12">    
    <section>
        <Hero>
            <h1 class="text-4xl">Page Not Found</h1>
            <p>The page you are looking for does not exist. Please check the URL or return to the home page.</p>
            <a href="/">Go to Home</a>
        </Hero>
    </section>
</main>