@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#nav_menu {
    background:#f1f1f1;
}

#main {
    top: 56px;
    right:0;
    bottom:0;
    left:0;
}

.btn {
   @apply px-6; 
   @apply py-4;
   @apply inline-flex;
   @apply flex-row;
   @apply items-center;
   @apply justify-center;
   @apply text-center;
   @apply rounded;
   @apply text-white;
   @apply bg-slate-500;
}